<launch>
<arg name="product_key_init" default="h7zm2yMIE65"/>
<arg name="device_name_init" default="Server1"/>
<arg name="device_secret_init" default="dd8aaa96bb9f272dd09d24ce042ce0a8"/>
<arg name="device_name_rostopic_init" default="Server1"/>
<arg name="SourceID" default="1"/>

<node name="$(arg device_name_rostopic_init)_global_network_node" pkg="dt_global_network_client" type="dt_global_network_client_node" output="screen">
<param name="product_key" value="$(arg product_key_init)" />
<param name="device_name" value="$(arg device_name_init)" />
<param name="device_secret" value="$(arg device_secret_init)"/>
<param name="iot_pub_topic" value="/$(arg product_key_init)/$(arg device_name_init)/user/$(arg device_name_init)_Pub"/>
<param name="iot_sub_topic" value="/$(arg product_key_init)/$(arg device_name_init)/user/$(arg device_name_init)_Sub"/>
<param name="ros_sub_topic" value="/$(arg device_name_rostopic_init)/Message_To_Cloud"/>
<param name="ros_pub_topic" value="/$(arg device_name_rostopic_init)/Message_From_Cloud"/>
<param name="ros_iot_state_pub_topic" value="/$(arg device_name_rostopic_init)/iot_state"/>
<param name="object_name" value="$(arg device_name_init)"/>
<param name="is_close_infor" value="true"/>
</node>

<node name="ui_uavs" pkg="ui_uavs" type="ui_uavs_node" output="screen">
    <param name="NetworkMsgSubName" value="/Server1/Message_From_Cloud" />
    <param name="NetworkMsgPubName" value="/Server1/Message_To_Cloud"/>
    <param name="HeartMsgHz" value="0.1"/>
</node>
</launch>
